<!DOCTYPE html>
<% var fs = require('fs') %>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="icon" href="/favicon.png" />
    <title>Noah Chase</title>
  </head>
  <body>
    <% frames.forEach(function(frame) { %>
       <div class="region--frame region--frame--<%- frame.replace(/[^_a-zA-Z0-9-]+/g, '_') %>">
         <div class="region--frame-inner">
           <%- marked(fs.readFileSync(frame).toString()) -%>
         </div>
       </div>
       <div class="ctl--handle"></div>
    <% }); %>
    <script>
      function detectDrag(event)  {
        // initiate dragging UI if mousedown for 200ms:
        this.dragID = setTimeout(function() {
          startDragging(event.clientX);
        }, 200);
      }

      function killDrag(event) {
        // kill startDrag timer:

        clearTimeout(this.dragID);

        // (clever way to only have to take the next code path if we're really dragging)
      }

      function startDragging(mouseCoords) {
        document.querySelector('body').classList.add('b-dragging');
        document.querySelector('[data-contenteditable]').removeAttribute('contenteditable');

        document.body.addEventListener('mousemove', moveHandler);
        document.body.addEventListener('mouseup', dropHandler);
      }


      function moveHandler(event) {
        document.querySelectorAll('.region--frame')[0].style.width = ((event.clientX / window.innerWidth)  * 100 ) + '%';
        document.querySelectorAll('.region--frame')[1].style.width = (100 - (event.clientX / window.innerWidth)  * 100 ) + '%';
      }

      function dropHandler(event) {
        document.body.removeEventListener('mousemove', moveHandler);
        document.querySelector('body').classList.remove('b-dragging');
        document.querySelector('[data-contenteditable]').setAttribute('contenteditable', true);
      }

      document.querySelector('.ctl--handle').addEventListener('mousedown', detectDrag);
      document.querySelector('.ctl--handle').addEventListener('mouseup', killDrag);

    </script>
    <script src="scripts/ResizeSensor.js"></script>
    <script src="scripts/ElementQueries.js"></script>
    <script>
      var loves = [
        'code',
        'people',
        'tools',
        'ui/ux',
        'testing',
        '#!/bin/sh'
      ]

      var loveIndex = 1;
      var minLength = 3;

      var contenteditable = document.querySelector('[contenteditable]');

      function deleteText(el) {
        el.textContent = el.textContent.slice(0, -minLength) + ".}"

        setCursor(el);

        setTimeout(function() {
          if (el.textContent.length > minLength) {
            return deleteText(el);
          }

          return newText(el);
        }, 100);
      }

      function newText(el, position) {
        position = position || 0;

        var newTextContent = loves[loveIndex];

        if (position === newTextContent.length + 2) {
          loveIndex = (loveIndex + 1) % loves.length; // modulo to keep consistent indexing

          return setTimeout(function() {
            deleteText(el);
          }, 3000);
        }

        setTimeout(function() {
          el.textContent = el.textContent.replace(/[^*^{^}]*\./, newTextContent.slice(0, position) + '.');
          setCursor(el);

          position = position + 1;

          newText(el, position);
        }, 100);
      }

      setTimeout(function(){
        deleteText(contenteditable);
      }, 1000);

      function setCursor(el) {
        el.focus();
        var selection = window.getSelection();
        var nodeText = el.childNodes[0];

        selection.collapse(nodeText, nodeText.length - 2);
      }
    </script>
  </body>
</html>
