<!DOCTYPE html>
<% var fs = require('fs') %>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="icon" href="/favicon.png" />
    <title>Noah Chase</title>
  </head>
  <body>
    <% frames.forEach(function(frame) { %>
       <div class="region--frame region--frame--<%- frame.replace(/[^_a-zA-Z0-9-]+/g, '_') %>"><%- marked(fs.readFileSync(frame).toString()) -%> </div>
       <div class="ctl--handle"></div>
    <% }); %>
    <script>
      var lastDrag;

      document.querySelector('.ctl--handle').addEventListener('drag', function(event) {
        document.querySelector('body').classList.add('b-dragging');

        if (lastDrag !== event.clientX) {
          lastDag = event.clientX;
          document.querySelector('.region--frame').style.width = ((event.clientX / window.innerWidth)  * 100 ) + '%';
          console.log(event.clientX);
        }
      });

      document.querySelector('.ctl--handle').addEventListener('dragend', function(event) {
        document.querySelector('body').classList.remove('b-dragging');
      });
    </script>
  </body>
</html>
