@font-face {
  src: url('/fonts/frontage-bulb.otf');
  font-family: 'Frontage Bulb';
}
@font-face {
  src: url('/fonts/monstro.otf');
  font-family: 'Monstro';
}
@font-face {
  src: url('/fonts/monstrihinos.otf');
  font-family: 'Monstrihinos';
}
@font-face {
  src: url('/fonts/ollie.otf');
  font-family: 'Ollie';
}

.region--frame--src_rook_md {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 0;
  font-family: Georgia, serif;
  line-height: 2.2;
  color: white;
  background-color: hsl(200, 60%, 55%);
  transition: font-size 200ms;

  @media (min-width: 40em) {
    font-size: 20px;
  }
}

.region--frame--src_rook_md {
  background-color: hsl(200, 60%, 55%);
}


.contact {
  top: 0;
  position: absolute;
  width: 100%;
  line-height: 1;
  text-align: right;
}

.contact a {
  display: inline-block;

  &:hover {
    border-bottom: 2px solid white;
  }
}

a {
  color: inherit;
}

h1 {
  margin: 0 0 1em;
  font-size: 3.6em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

img {
  max-width: 100%;
}

.font {
  display: block;
  margin: 2.2em 0;
  line-height: 1;
  font-size: 2.75em;
  font-weight: normal;
  text-align: center;

  @media (min-width: 25em) {
    font-size: 4em;
    line-height: inherit;
  }
}

.font--dope {
  font-family: 'Ollie', Georgia, serif;
}

.font--code {
  font-family: monospace;
}

.font--quality {
  margin: 1em 0;
  font-size: 2.3em;
}

.font--frontage {
  position: relative;
  left: -0.25em;
  font-family: 'Frontage Bulb', sans-serif;
  font-size: 3.5em;
  letter-spacing: -0.4em;

  @media (min-width: 27em) {
    font-size: 4em;
  }
}

.font--monstro {
  font-family: 'Monstro', sans-serif;
  font-size: 3.5em;

  @media (min-width: 27em) {
    font-size: 4em;
  }
}

.font.font--monstrihinos {
  display: inline;
  position: relative;
  font-size: 1em;
  font-family: 'Monstrihinos', sans-serif;

  &.font--monstrihinos--t {
    left: -20px;
  }
  &.font--monstrihinos--h {}
}

hr {
  position: relative;
  margin: 0 0 2em;
  font-size: 2em;
  text-align: center;
  height: 1px;
  border: none;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 2px dashed white;
  }
}

.u-center {
  text-align: center;
}

p {
  margin: 0 0 4em;
}

ul {
  margin: 0 0 3.5em;
  padding: 0 1em;

  @media (min-width: 25em) {
    margin: 0 3.5em 3.5em;
    padding: 0;
    padding-left: 2em;
  }
}

.mailto {
  text-align: center;
}

.mailto-inner {
  position: relative;
  display: inline-block;
  line-height: 1;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    width: 20%;
    bottom: 0.05em;
    right: 0;
    left: 0;
    margin: auto;
    border-bottom: 0.025em solid currentColor;
    border-radius: 999em;
    transition: width 100ms, border-width 250ms;
  }

  &:hover:before {
    width: 100%;
    border-bottom-width: 0.075em;
  }
}

.effect--textpulse--light {
  animation: textpulse--light 1000ms infinite alternate;
}

@keyframes textpulse--light {
  from {
    text-shadow: 0 2px 0 transparent;
  }

  to {
    text-shadow: 0 2px 8px hsl(0, 0%, 100%);
  }
}

.effect--textpulse--dark {
  animation: textpulse--dark 1000ms infinite alternate;
}

@keyframes textpulse--dark {
  from {
    text-shadow: 0 2px 0 transparent;
  }

  to {
    text-shadow: 0 2px 8px hsl(0, 0%, 0%);
  }
}

.effect--textreveal {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(200, 60%, 55%);
    animation: textreveal 2000ms infinite;
  }
}

@keyframes textreveal {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}
